.App {
  display: flex; /* App全体をフレックスボックスレイアウトにする */
  flex-direction: column; /* アイテムを上から下に並べる */
  overflow: hidden; /* 要素からはみでたら非表示 */
  font-size: 16px;
}

.App-Main {
  display: flex; /* サイドバー＋コンテンツをフレックスボックスレイアウトにする */
  height: 100vh; /* コンテンツの垂直が画面にすべて表示されるようにする100vhにする */
}

.App-Contents {
  width: 80%; /* コンテンツ幅は親の80%(サイドバーは20%) */
}
